/**
 * table-section.css v0.1.0
 */

.ts-row-fixed {
  position: fixed;
  margin-left: -1px;
  margin-right: 1px;
  /* top: 0; */
  visibility: hidden;
  z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
}
